body {
    background-color: black;
}

header {
    display: flex;
    flex-flow: column;
}

.glassdaleHeading {
    display: flex;
    border-bottom: solid blue;
    /* font-family: 'Courier Prime', monospace; */
    padding: 1em;
    text-align: center;
    vertical-align: baseline;
    letter-spacing: .3em;
    font-size: 5em;
    color: white;
    background-image: url('../images/1482814.jpg');
    background-size: cover;
}

.glassdaleEst {
    margin-top: 0;
}

.filters {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

h2 {
    font-size: 3em;
    text-align: center;    
    color: white;
}

.officerHeading {
    margin-top: 2em;    
}

.criminalHeading {
    margin-top: 2em;
}

.officersContainer {
    display: flex;    
    overflow: scroll;
    overflow-y: hidden;
    /* justify-content: space-evenly;    */
    /* padding: 0;
    margin: 0; */
    color: white;   
    /* height: 30em; */
    font-family: 'Courier Prime', monospace;
}

.criminalsContainer {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
	/* justify-content: space-evenly; */
    color: white;
    font-family: 'Courier Prime', monospace;
}

.officer-card {
    flex-basis: 25%;
    border: solid blue;
    margin: 1em;
    padding: 1em;
    color: white;
    text-align: left;        
}

.officerCardName {
    width: 250px;    
    text-align: center;
}

.criminal-card {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    border: solid darkred;
    margin: 1em;
    padding: 1em;
    color: white;
}

.criminalCardName {
    width: 250px;
    text-align: center;
    border-bottom: solid darkred;;
}

#associateAlibis {
    align-self: center;
}

.witnessHeading {
    margin-top: 2em;
}

.witnessContainer {
    display: flex;
    flex-direction: column;
    font-family: 'Courier Prime', monospace;
}

.witness-card {
    flex-basis: 25%;
    border: solid slategrey;
    margin: 1em;
    padding: 1em;
    color: white;
}

.noteHeading {
    margin-top: 2em;
}

.noteListContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    border: solid slategray;
    height: 30em;    
    overflow-y: auto;
    overflow-x: hidden;
}

.note {
    margin: 1em;
    padding: 1em;
    color: white;
    border: solid slategray;
    align-self: flex-start;
    flex-basis: 20%;
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    font-family: 'Courier Prime', monospace;
}

.noteFormContainer {
    /* background-color: rgb(217, 224, 232); */
    display: flex;
    padding: 1em;    
    color: white;        
}

/* #noteForm--text {
    text-align: left;
    vertical-align: center;
} */

.newNoteParent {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2em;
}

.newNoteDetails {
    
}

/* .noteFormContainer h1, h2, h3 {
	color: rgb(80 42 5);
	margin-top: 2em;
} */

/* textarea {
	width: 100%;
} */

.main-section {
	display: flex;
}

.lists-area {
	/* background-color: #ff9e2c; */
	flex: 2;
    padding: 1rem;
    width: 60%;
}
/* 
aside {
	background-color: #b6701e;
	flex: 1;
    padding: 1rem;
    width: 40%;
} */

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: slategray;
    border-radius: 10px;
  }